*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.App{
    background-color:#08F;
    text-align: center;
    padding: 150px;
    .up{

        display: flex;
        width: 920px;
        margin: auto;
    }
    div{
        width: 300px;
        height: 200px;
        border: solid 2px black;
        margin:150px auto;
        background: orange;
        
    }
}